body {
  margin-top: 60px;
}

.center-div {
  border-radius: 3px;
  background: #E5E3E3;
  max-width: 1060px;
  padding: 45px;
  position: center;
  margin: 0 auto;
}

h2 {
  font-size: 50px;
  font-family: 'Poiret One';
  font-weight: bold;
  font-color: #2a2a2a;
  text-align: center;
}

.subtext {
  font-size: 24px;
  text-align: center;
  font-style: italic;
  font-family: 'Open Sans';
}

#rcorners1 {
  border-radius: 3px;
  background: #fafafa;
  max-width: 1006px;
  padding: 3px;
}

#caption {
  font-size: 11px;
  padding: 10px;
  margin-left: 10px;
  text-align: left;
}

#audio {
  padding-top: 20px;
  padding-bottom: 20px;
}

#director-title {
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  font-family: "Raleway";
}

section {
  padding-left: 45px;
  padding-right: 50px;
  padding-top: 20px;
  position: center;
  font-family: "Raleway";
  font-weight: 300;
  font-size: 14px;
}

time {
  font-color: #A0522D;
  font-weight: 600;
  text-transform: uppercase;
}

#quote {
  padding-left: 45px;
  padding-right: 40px;
  position: center;
  padding-top: 20px;
}

#sub-quote {
  font-size: 11px;
  font-style: italic;
  margin-top: -10px;
}

iframe {
  margin-top: 10px;
}
